{% extends 'base.html.twig' %}

{% block title %}New Planet{% endblock %}

{% block body %}
    <div class="m-4 p-4 bg-gray-800 rounded-lg">
        <h1 class="text-xl font-semibold text-white mb-4">Create New Planet</h1>

        {{ include('planet/_form.html.twig', { isUpdate: false }) }}
    </div>
{% endblock %}
