{% extends 'base.html.twig' %}

{% block title %}Edit Voyage{% endblock %}

{% block body %}
    <h1>Edit Voyage</h1>

    {{ include('voyage_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_voyage_crud_index') }}">back to list</a>

    {{ include('voyage_crud/_delete_form.html.twig') }}
{% endblock %}
